.footer {
  min-height: 700px;
  &-top {
    min-height: 90px;
    background-color: black;
    .container {
      text-align: center;
      h3 {
        line-height: 90px;
        color: $text-white-color;
        span {
          color: $primary-color;
        }
      }
    }
  }
  &-mid {
    min-height: 530px;
    background-color: rgb(0 0 0 / 94%);
    a {
      color: $light-color;
      transition: 0.3s;
    }
    a:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    .footer-container {
      padding-top: 120px;
      display: flex;
      justify-content: space-between;
      align-item: center;
      .footer-title {
        font-size: $size-small-title;
        color: $text-white-color;
        padding-bottom: 24px;
      }
      .col {
        &-list {
        }
        &-item {
          margin-bottom: 8px;
          span {
            font-size: 14px;
            margin-left: 8px;
          }
        }
      }
      .col2 {
        &-list {
        }
        &-item {
          padding: 12px 16px;
          padding-bottom: 16px;
          position: relative;
          .col2-star {
            margin-right: 16px;
          }
          a {
          }
        }
        &-item:after {
          position: absolute;
          content: "";
          width: 40%;
          height: 1px;
          left: 0;
          bottom: 0;
          background-color: $link-color;
        }
        &-item:nth-child(6)::after {
          width: 0;
        }
      }
      .col3 {
        &-desc {
          margin-bottom: 44px;
        }
        &-wrapper {
          font-size: 20px;
          margin-bottom: 24px;
        }
        &-date {
          margin-bottom: 8px;
        }
        &-time {
          color: $color-bgr-btnIcon;
          sup {
          }
        }
      }
      .col4 {
        i {
          color: $color-bgr-btnIcon;
          margin-right: 8px;
        }
        &-text {
          p {
            margin-bottom: 8px;
          }
        }
        &-phone {
          margin-top: 24px;
          margin-bottom: 8px;
        }
      }

      .col,
      .col2,
      .col3,
      .col4 {
        flex-basis: 23%;
      }
    }
  }
  &-bottom {
    height: calc(700px - (530px + 90px));
    background-color: rgb(0 0 0 / 94%);
    border-top: 1px solid $border-white-color;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .wrapper {
      display: flex;
      justify-content: center;
    }
    .list {
      display: flex;
      justify-content: center;
      &-item {
        padding: 0 8px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      &-item:hover {
        color: $text-white-color;
      }
    }
    .arrow-up {
      font-size: 20px;
      margin-left: 20px;
      transition: 0.3s;
      cursor: pointer;
    }
    .arrow-up:hover {
      color: $text-white-color;
    }
  }
  @media screen and (max-width: 768px) {
    &-mid {
      .footer-container {
        display: block;
        .col,
        .col2,
        .col3,
        .col4 {
          padding-bottom: 80px;
        }
      }
    }

    &-bottom {
      height: 180px;
      .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
      }
      .wrapper {
        flex-direction: column-reverse;
        margin-bottom: 24px;
      }
      .arrow-up {
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 460px) {
    .footer-top {
      h3 {
        padding-top: 24px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
