$primary-color: #0089f7;
$primary-transparent-color: #0088f7c9;
$primary-color-hover: #006edf;
$text-small-color: #626262;
$text-title-color: #161922;
$text-white-color: rgb(255, 255, 255);
$size-small-title: 24px;
$size-big-title: 40px;
$border-color: rgba(0, 0, 0, 0.062);
$border-white-color: rgba(255, 255, 255, 0.247);
$link-color: #2a2b39;
$font-weight-title: 600;
$light-color: #a8a8a8;
$color-bgr-btnIcon: #f7f7f7;
